@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px;
  background: #ECF4FF;
  border: 2px solid #0E1D2F;
  border-radius: 100px;
  box-sizing: border-box;
  color: #0E1D2F;
}

.projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
  margin-top: 32px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  
}

.projetos-titulo {
  margin-top: 5px;
  margin-right: 40px;
  list-style-type: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item{
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}

.projetos-item a {
  color: #1C1C1C;
  text-decoration: none;
}

.dark{
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container{
  background: #333439;
  color: #F7F7F7;
}

.dark .projetos{
  color: #1C1C1C;
}

.dark .tema button{
  background: #1C1C1C;
  color: #FFFFFF;
  border: 2px solid #F7F7F7;
}

/* MEDIA */
@media only screen and (max-width: 480px) {
  .container {
    width: 200px;
  }
  .perfil-foto {
    border-radius: 460px;
    max-height: 80px;
  }
  .titulo {
    margin-left: 16px;
  }
  
  .titulo h1 {
    font-weight: 450;
    font-size: 18px;
  }
  
  .titulo h3 {
    font-weight: 200;
    font-size: 12px;
  }

  .tema button {
    font-weight: 200;
    font-size: 12px;
    padding: 4px 8px;
  }

  .projetos{
    align-items: center;
    margin-top: 16px;
    padding: 16px;
  }

  .projetos-titulo {
    margin-top: 5px;
    margin-right: 40px;
    font-weight: 450;
    font-size: 18px;
  }

  .projetos-item{
    font-weight: 200;
    font-size: 12px;
    line-height: 24px;
  }
  }
@media only screen and (min-width: 481px) {
  .container {
    min-width: 300px;
    margin: 32px;
    padding: 32px;
  }
  .perfil-foto {
    border-radius: 460px;
    max-height: 100px;
  }
  
  .titulo h1 {
    font-weight: 600;
    font-size: 22px;
  }
  
  .titulo h3 {
    font-weight: 350;
    font-size: 16px;
  }

  .projetos-titulo {
    margin-top: 5px;
    margin-right: 40px;
    font-weight: 600;
    font-size: 22px;
  }

  .projetos-item{
    font-weight: 350;
    font-size: 16px;
    line-height: 28px;
  }   
  }
@media only screen and (min-width: 993px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 64px;
    padding: 64px;
  }
  
  .cabecalho{
    display: flex;
    justify-content: space-between;
  }
  
  .perfil {
    display: flex;
  }
  
  .perfil-foto {
    border-radius: 460px;
    max-height: 160px;
  }
  
  .titulo {
    margin-left: 16px;
  }
  
  .titulo h1 {
    font-weight: 700;
    font-size: 36px;
  }
  
  .titulo h3 {
    font-weight: 400;
    font-size: 24px;
  }
  
  .tema button {
    align-self: flex-end;
    font-weight: 400;
    font-size: 24px;
    padding: 8px 16px;
  }
  
  .projetos{
    align-items: center;
    margin-top: 32px;
    padding: 32px;
  }
  
  .projetos-titulo {
    margin-top: 5px;
    margin-right: 40px;
    font-weight: 700;
    font-size: 36px;
  }
  
  .projetos-item{
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
  }
  }